body {
    /*background-image:*/
    /*linear-gradient(*/
    /*        rgba(0, 0, 0, 0.5),*/
    /*        rgba(0, 0, 0, 0.5)*/
    /*),url("img/metal-panels.jpeg");*/
    /*background-image: url("../img/metal-panels.jpeg");*/
    background-size: cover;
}


h3 {
    justify-items: center;
}

.circuit {
    display: grid;
    justify-items: center;

}

#circuitBoard {
    display: inline-grid;
    border: 3px solid black;
    border-radius: 15px;
    /*width: 400px;*/
    align-items: center;
}
header {
    text-align: center;
    width: 100vw;
}

.com-button {

}

/*
https://freefrontend.com/css-toggle-switches/
https://css-tricks.com/snippets/css/typewriter-effect/
https://css-tricks.com/snippets/css/css-grid-starter-layouts/
https://css-tricks.com/snippets/css/complete-guide-grid/
https://css-tricks.com/snippets/css/basics-of-google-font-api/
https://css-tricks.com/snippets/css/custom-checkboxes-and-radio-buttons/
neatest switch ever
https://codepen.io/marcusconnor/pen/QJNvMa
fuel gauge
https://codepen.io/omercanbalandi/pen/PowMJyG
light bulb
https://codepen.io/twogrey/pen/Wbzbox
glow effects
https://freefrontend.com/css-glow-effects/


*/

/*
.red {
background-image:
linear-gradient(
  rgba(255, 0, 0, 0.5),
  rgba(255, 0, 0, 0.5)
),
url("img/metal-panels.jpeg");
*/
