####MY STANDARD####

DS_store
.idea/*
*.iml
js/keys.js
secret.txt

####END MY STANDARD####


#####CODEUP STACK#####

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#####END CODEUP STACK#####


### WILLing application ###
src/main/resources/application.properties
src/main/resources/willing_db_setup.sql
src/main/resources/static/js/keys.js
### END WILLing application ###