<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<!--<head th:replace="partials/head :: header-links (pageTitle)"></head>-->
<head>
    <!--    <meta charset="UTF-8">-->
    <!--    <title>Item Assignment Page</title>-->

    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">-->
    <!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>-->
    <!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>-->
    <!--    <script th:src="@{https://kit.fontawesome.com/8d58347b96.js}" crossorigin="anonymous"></script>-->
    <!--    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/96751468e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <title>Item Awarding Page</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS FILES-->
    <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/owl.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <style>

        body {
            color: black !important;
        }
        .card {
            background-color: white !important;
        }

        #guestUser {
            color: black !important;
        }

        .btn {
            color: white;
        }

        .login-header {
            margin-top: 5px !important;
        }
    </style>
</head>
<body>

<div id="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>DIVIDE YOUR BELONGINGS WITH US!</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/navbar :: navbar"></div>