<!DOCTYPE html>
<html lang="en">
<!--THYMELEAF-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manual</title>

    <!--research this meta-->
    <!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--END-->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/96751468e5.js" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<!--MANUAL MODAL INIT-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id">Open Manual</button>
<!--END MANUAL MODAL INIT-->

<!--STRUCTURE-->
<div class="modal fade" id="id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Operator's Manual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <div> Initiating System Online
                        <p>
                            Turn on the 3 systems
                        </p>
                    </div>
                    <div> Check Systems
                        <p>
                            Check system circuits
                        </p>
                        <p>
                            Replace Fuse Bus
                        </p>
                    </div>
                    <div> Hardware Systems Check
                        <p>
                            Hermatic Seal
                        </p>
                        <p>
                            Locking Mechanism
                        </p>
                        <p>
                            Life Support
                        </p>
                    </div>
                    <div>
                        <p>

                        </p>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <!--Pagination for the modal-->
                <nav aria-label="Manual pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#page1"></a>Prev</li>
                        <li class="page-item"><a class="page-link" href="#page1"></a>1</li>
                        <li class="page-item"><a class="page-link" href="#page1"></a>2</li>
                        <li class="page-item"><a class="page-link" href="#page1"></a>Next</li>
                    </ul>
                </nav>
                <!--consider moving to footer-->
                <!--END Pagination for the modal-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
<!--MANUAL CONTENT-->
<section>
    <div> Initiating System Online
        <p>
            Turn on the 3 systems
        </p>
    </div>
    <div> Check Systems
        <p>
            Check system circuits
        </p>
        <p>
            Replace Fuse Bus
        </p>
    </div>
    <div> Hardware Systems Check
        <p>
            Hermatic Seal
        </p>
        <p>
            Locking Mechanism
        </p>
        <p>
            Life Support
        </p>
    </div>
    <div>
        <p>

        </p>
    </div>
</section>
<!--END MANUAL CONTENT-->
</div>





<script th:src="@{/js/test.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- OPTIONAL JAVASCRIPT -->
<!-- jQUERY FIRST, THEN POPPER.JS, THEN BOOTSTRAP JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<!--JS page turning-->
<script>

</script>



</body>
</html>